# APP SETTINGS
APP_NAME="SiOslo: Market-Driven R&D Buddy"
APP_ENV="development"
DEBUG=True

# SUPABASE POSTGRESQL DATABASE URL
DATABASE_URL="postgresql://XXXXXX"

# SUPABASE API (Opsional jika butuh fitur Storage/Auth Supabase nantinya)
SUPABASE_URL="https://gomqjnfmrxjsvvdgfqor.supabase.co
SUPABASE_KEY="XXXXXXXXXXX"

# LOCAL LLM ENDPOINT (Ollama / Llama-3 Local)
LLM_ENDPOINT=http://localhost:11434/api/generate
LLM_MODEL_NAME=sioslo-model